*{
    margin:0px;
    padding: 0px;
    text-align:center;
}
h1{
    background-color: aqua;
    color:black;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5rem;
    gap: 2rem;
}
img{
    height: 170px;
    width:170px;
    object-fit: cover;
    border-radius:50%; 
      
}
.choice{
    height: 180px;
    width:180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scoreboard{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap:5rem;
}
#user-score, #comp-score{
    font-size: 3rem;
}
.msg-container{
    margin-top:2rem;

}
#msg{
    margin-top:2rem;
    background-color: black;
    color:#fff;
   font-size: 2rem;
   display: inline;
   padding:1rem;
   border-radius: 1rem;
}